<div class="container">
    <div class="app-secondary-theme p-5  shadow-effect">

 
    <h3 class="text-center app-text-theme">{{formSatatus}} Categories</h3>
    <p class="text-center mb-5">You can {{formSatatus}} categories from here..!</p>

    <form action="" class=" text-center" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <input type="text " name="category" class="form-control" placeholder="Enter Category Name"
                    #categoryName="ngModel" [ngClass]="{'is-invalid': categoryName.invalid && categoryName.touched }"
                    required
                     [(ngModel)]="formCategory"
                     >
                <div class="alert text-danger text-left " *ngIf="categoryName.touched && categoryName.invalid">
                    Category name is required
                </div>
            </div>
            <div class="col-md-3">
                <button [disabled]="categoryForm.invalid" class="btn btn-block text-light  mt-1 btn-theme">{{formSatatus}} Category</button>
            </div>
            <div class="col-md-2"></div>
         </div>
    </form>

</div>

    <div class="row my-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card  shadow-effect">
                <div class="  tablebody">
 
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categoryData" >
                                <td>{{category?.id}}</td>
                                <td> {{category?.category}}</td>
                                <td>
                                    <button (click)="editCategory(category?.category,category?.id)" class="btn btn-sm app-theme  text-light"><i
                                            class="fa-solid fa-edit"></i></button>
                                    <button (click)="deleteCategory(category?.id)" class="btn btn-sm btn-danger mx-2"><i
                                            class="fa-solid fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        </table>

                        <div class="text-center">
                            <button class="btn btn-sm text-light app-theme mr-2" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
                            <button class="btn btn-sm text-light app-theme" (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
                          </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


</div>